body{
    font-family: 'Times New Roman', Times, serif;

}
.nav {
    float: right;
    margin-right: 135px;
    background-color: rgba(0, 0, 0, 0.5)
}
.nav a{
    text-decoration: none;
    padding: 14px;
    margin: 20px;
    color: #fff;
    font-weight: bold;
}
.nav> .active{
    color: orange;
}
.logo {
    padding-left: 50px;
}
.logo-txt{
    color: orange; 
    margin-right: 450PX;
    padding-top: 35px;
    font-weight: 900;
    padding-left: 5px;
}
#home{
    background: url('../images/image2.png') no-repeat;
    background-size: cover;
    background-position: center;
    padding: 120px;
    color: #fff;
    font-weight: bold;
}
#home h2{
    font-weight: 800;
}
.btn{
    background-color: orange;
    padding: 5px 30px;
    border: none;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-top: 30px;   
}
#services{
    background-color: lavender;
    padding-top: 20px;
}
#card2{
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.circle{
    color: #fff;
    padding-top: 15px;
    margin-bottom: 50px;
    text-align: center;
    background-color: orange;
    border-radius: 45%;
    width: 60px;
    height: 60px;
    margin-left: 40%;
}
#col{
    text-align: center;
    background-color: #000;
    font-weight: bold;
    color: #fff;
    padding-bottom: 150px;

}
#image1{
    background: url("../images/image1.png") no-repeat;
    background-size: cover;
    background-position: center;
    padding: 120px;

    }
#col2{
    margin-top: 70px;
    
}
#menu{
    background-color: lavender;
    padding-top: 50px;
}
.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#card{
    background-color: #fff;
    padding: 20px;
    margin: 20px;
}
#card img{
    width: 200px;

}
.menu-btn{
    border: none;
    padding: 0 10px 0 10px;
    margin-top: 30px;
}
.booking{
    background-image: url("../images/image8.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    
}
.booking-btn{
    color: #fff;
    background-color: transparent;
    border: solid #fff;
    padding: 0 16px 0 16px;
}
.booking-content{
    padding-top: 80px;
    padding-bottom: 100px;
}
.footer{
    background-color: black;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}